<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph</title>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
</head>
<body>
    <div id="myChart" style="width: 50rem;"></div>
</body>

<script>
    var chartData = {
        "type": "bar",
        "scale-x":{
            "values": [
                "Rasika",
                "Vaibhavi",
                "Leesa",
            ]
        },
        "series": [
            {
                "values": [
                    23,16,20
                ]
            }
        ]
    }

    zingchart.render({
        id: "myChart",
        data: chartData,
    })
</script>
</html>